<div class="row">
    
    <div class="col-md-9 offset-2">
        <br>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Nom de l'animal</th>
                    <th>Description</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chien</td>
                    <td>Nicoderme</td>
                    <td> Animal trop brutal </td>
                    <td>1 Mois</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--/row-->
