table th{
    background-color: rgb(160, 95, 149);
}

table td{
    background-color: cadetblue;
}

form{
    margin-left: 2%;
}

.del-1{
    margin-left: 2%;
}

.edit-1{
    margin-left: 2%;
}

.card{
    margin-top: 2%;
}