
<div class="container card">
    
    <div class="card-body">
        <br>
        <div class="d-flex">
            <a routerLink="/ajouter-animal" class="btn btn-primary"> <i class="bi bi-align-middle"></i> Ajouter un Animal</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Mot clé" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
            <button class="btn btn-danger del-1"><i class="bi bi-trash"></i></button>
            <button class="btn btn-success edit-1"><i class="bi bi-pencil"></i></button>
            

        </div>
        <br>
        <h2 *ngIf="!animaux">Chargement en cours ...</h2>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Qté</th>
                    <th>Promo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="animaux <= 0">
                    <td colspan="6" class="text-center">Votre Tableau est vide pour le moment ...</td>
                </tr>
                <tr *ngFor="let item of animaux">
                    <td>
                        <input type="checkbox" name="id" id="id" value="{{item.id}}">
                    </td>
                    <td>
                        <ul >
                            <li class="nav-link">{{item.nom}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul >
                            <li class="nav-link">{{item.prix + ' FCFA'}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul >
                            <li class="nav-link">{{item.qte}}</li>
                        </ul>
                    </td>
                    <td >
                        <ul>
                            <i *ngIf="item.promotion == 'off'" class="bi bi-heart"></i>
                            <i *ngIf="item.promotion == 'on'" class="bi bi-heart-fill text-success"></i>
                        </ul>
                    </td>
                    <td>
                        <button type="button" (click)="setPromo()" class="btn btn-success">Promo on</button>
                        <button  class="btn btn-primary">Entrée</button>
                        <button class="btn btn-warning">Sortie</button>
                        <a class="btn btn-info m-2" routerLink="/modifier-animal/{{item.id}}"><i class="bi bi-pencil"></i> </a>
                        <a class="btn btn-danger" (click)="deleteData(item.id)"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <!--/card-body-->
    <div class="card-footer">
        <a href="" class="btn btn-primary">1</a>
    </div>
</div>
<!--/container card-->
