<div class="row">
    <div class="offset-3 col-md-4" ng-app="">
        <h1 class="container">Animaux!</h1>
        <form action="" method="post">
            <br>
            <div class="form-group">
                <input type="text" placeholder="Race animal Ex: Berger allemand" class="form-control" name="race">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Espèce animal Ex: Chien" class="form-control" name="espece">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Nom animal Ex: Caroline" class="form-control" name="nom">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Sexe animal Ex: Femelle" class="form-control" name="sexe">
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <select type="text" class="form-control" name="age">
                            <option value="5">5</option>
                        </select>
                    </div>
                    <!--col-->
                    <div class="col">
                        <select type="text" class="form-control"  name="jma">
                            <option value="Ans">Mois</option>
                            <option value="Ans">Ans</option>
                        </select>
                    </div>
                    <!--col-->
                </div>
                <!--row-->
            </div>
            <br>
            <div class="form-group">
                <textarea type="text" class="form-control" name="description" placeholder="Description">
                </textarea>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 offset-2">
                    <input type="reset" class="form-control btn btn-danger">
                </div>
                <div class="col-md-4">
                    <input type="submit" class="form-control btn btn-success">
                </div>
            </div>
            <br>
        </form>
    
    </div>
    
</div>
<!--/row-->
