<div class="container">
    <div class="" >
        <h1 class="container">Nouvel Animal!</h1>
        <form action="" method="post" autocomplete="off">
            <br>
            <div class="form-group">
                <input type="text" placeholder="Nom" class="form-control" name="nom" id="nom">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Prix" class="form-control" name="prix" id="prix">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Qté" class="form-control" name="qte" id="qte">
            </div>
            <br>
            
            <div class="form-group">
                <input type="submit" class="form-control btn btn-success" >
            </div>
            <br>
        </form>
    
    </div>
    <!--/div-->
    
</div>
<!--/container-->
