<div class="row">
    <div class="offset-1 col-md-4" ng-app="">
        <h1 class="container">insecte works!</h1>
        <form action="" method="post">
            <br>
            <div class="form-group">
                <input type="text" placeholder="Nom de l'insete" class="form-control" name="nom-insecte">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Age de l'insecte" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Nom du père" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Nom de la mère" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-success">
            </div>
            <br>
        </form>
    
    </div>
    <!--/col-->
    <div class="col-md-5">
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Nom de l'insecte</th>
                    <th>Age</th>
                    <th>Nom du père</th>
                    <th>Nom de la mère</th>
                    <th>Adopté</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--/row-->
