<div class="row">
    <div class="offset-3 col-md-4" ng-app="">
        <h1 class="container">Nouvel Eleveur!</h1>
        <form action="" method="post">
            <br>
            <div class="form-group">
                <input type="text" placeholder="Nom" class="form-control" name="nom-eleveur">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Contact" class="form-control" name="contact-eleveur">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Age" class="form-control" name="age-eleveur">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Adresse" class="form-control" name="adresse-eleveur">
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-success">
            </div>
            <br>
        </form>
    
    </div>
    <!--/col-->
    
</div>
<!--/row-->
