<div class="container">
    <div class="col-md-4 offset-3" >
        <h1 class="container">Modifier Animal!</h1>
        <form autocomplete="off" (ngSubmit)="UpdateAnimal(registerForm)" #registerForm="ngForm">
            <br>
            <div class="form-group">
                <input type="text" placeholder="Nom" class="form-control" name="nom" id="nom" [(ngModel)]="animal.nom">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Prix" class="form-control" name="prix" id="prix" [(ngModel)]="animal.prix">
            </div>
            <br>
            <div class="form-group">
                <input type="text" placeholder="Qté" class="form-control" name="qte" id="qte" [(ngModel)]="animal.qte">
            </div>
            <br>
            
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Modifier">
            </div>
            <br>
        </form>
    
    </div>
    <!--/div-->
    
</div>
<!--/container-->
