<div class="container">
    <div class="col-md-4 offset-3" >
        <br>
        <!--s'affiche en cas de succès-->
        <div *ngIf="reussite" class="alert alert-danger">
            <i class="bi bi-check-circle-fill text-success"></i> {{reussite}}
        </div>
        <!--s'affiche en cas d'erreur-->
        <div *ngIf="erreur" class="alert alert-danger">
            <i class="bi bi-x-square-fill text-danger"></i> {{erreur}}
        </div>
        <h3 class="container">Modifier Produit!</h3>
        <form autocomplete="off" (ngSubmit)="UpdateProduct(registerForm)" #registerForm="ngForm">
            <div class="form-group">
                Nom
                <input type="text" placeholder="Nom ex: Chien" class="form-control" name="nom" id="nom" [(ngModel)]="produit.nom">
            </div>
            <br>
            <div class="form-group">
                Prix
                <input type="text" placeholder="Prix ex:5500" class="form-control" name="prix" id="prix" [(ngModel)]="produit.prix">
            </div>
            <br>
            <div class="form-group">
                Qté
                <input type="text" placeholder="Qté ex:22" class="form-control" name="qte" id="qte" [(ngModel)]="produit.qte">
            </div>
            <br>
            <div class="form-group">
                Promotion off
                <input type="radio" name="promotion" value="false" id="promotion" [(ngModel)]="produit.promotion">
                Promotion on
                <input type="radio" name="promotion" value="true" id="promotion" [(ngModel)]="produit.promotion">
            </div>
            <br>
            
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Modifier">
            </div>
            <br>
        </form>
    
    </div>
    <!--/div 
        <i class="bi bi-check-circle-fill"></i>
        <i class="bi bi-exclamation-circle-fill"></i>
        <i class="bi bi-eye-slash-fill"></i>
        <i class="bi bi-eye-fill"></i>
     -->
    
</div>
<!--/container-->
