<div class="container">
    
    <div class="">
        <br>
        <a routerLink="/ajouter-eleveur" class="btn btn-primary"> <i class="bi bi-align-middle"></i> Ajouter un Eleveur </a>
        <br><br>
        <h2 >Chargement en cours ...</h2>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Contact</th>
                    <th>Age</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nicoderme</td>
                    <td>656  45 12 09</td>
                    <td>26 Ans</td>
                    <td>Cameroun - Yaoundé</td>
                    <td>
                        <a href="http://" class="btn btn-primary"><i class="bi bi-pencil"> Mettre à jour</i></a>
                        <a href="http://" class="btn btn-danger"><i class="bi bi-bank2"> Supprimer</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/div-->
</div>
<!--/container-->
