<div class="row">
    
    <div class="col-md-9 offset-2">
        <br>
        <a routerLink="/ajouter-eleveur" class="btn btn-primary">Ajouter un Eleveur <i class="fa fa-edit"></i></a>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Contact</th>
                    <th>Age</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nicoderme</td>
                    <td>656  45 12 09</td>
                    <td>26 Ans</td>
                    <td>Cameroun - Yaoundé</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--/row-->
