
<div class="container card">
    <!--s'affiche en cas d'erreur-->
    <div *ngIf="erreur" class="alert alert-danger">
        <i class="bi bi-x-square-fill text-danger"></i> {{erreur}}
    </div>
    <div *ngIf="reussite" class="alert alert-danger">
        <i class="bi bi-check-circle-fill text-success"></i> {{reussite}}
    </div>
    
    <div class="card-body">
        <br>
        <div class="d-flex">
            <a routerLink="/ajouter-produit" class="btn btn-primary"> <i class="bi bi-align-middle"></i> Ajouter un Produit</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Mot clé" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
            <button class="btn btn-danger del-1"><i class="bi bi-trash"></i></button>
            <button class="btn btn-success edit-1"><i class="bi bi-pencil"></i></button>
            

        </div>
        <br>
        <h2 *ngIf="!produits">Chargement en cours ...</h2>
        <table class="table table-stripped table-bordered" *ngIf="produits">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Qté</th>
                    <th>Promo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="produits.length <= 0">
                    <td colspan="6" class="text-center">Votre Tableau est vide pour le moment ...</td>
                </tr>
                <tr *ngFor="let item of produits">
                    <td>
                        <input type="checkbox" name="id" id="id" value="{{item.id}}">
                    </td>
                    <td>
                        <ul >
                            <li class="nav-link">{{item.nom}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul >
                            <li class="nav-link">{{item.prix + ' FCFA'}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul >
                            <li class="nav-link">{{item.qte}}</li>
                        </ul>
                    </td>
                    <td >
                        <ul>
                            <i *ngIf="item.promotion == 'false'" class="bi bi-heart"></i>
                            <i *ngIf="item.promotion == 'true'" class="bi bi-heart-fill text-success"></i>
                        </ul>
                    </td>
                    <td>
                        <li class="nav-item dropdown nav-link">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Opérations
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li>
                                    <a class="dropdown-item" routerLink="/nouvelle-entree/{{item.id}}"><i class="bi bi-pencil"></i> Nouvelle entrée</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="/nouvelle-sortie/{{item.id}}"><i class="bi bi-pencil"></i> Nouvelle sortie </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"  routerLink="/modifier-produit/{{item.id}}"><i class="bi bi-pencil"></i> Mettre à jour </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger del" (click)="deleteData(item.id)"><i class="bi bi-trash"> Supprimer</i></a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Ogmenter le prix</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Diminuer le prix</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Consulter les entrées</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Consulter les sorties</a></li>
                                
                            </ul>
                        </li>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <!--/card-body-->
    <div class="card-footer">
        <ul class="nav nav-pills">
            <li *ngFor="let item of [].constructor(this.totalPage);let i=index">
                <a (click)="goToPage(i)" [ngClass]="i==curentPage?'btn-info':'btn-outline-info'"  class="btn ms-1 mt-1">{{i}}</a>
            </li>
        </ul>
    </div>
</div>
<!--/container card-->
